In [2]:
import numpy as np
import pandas as pd

In [4]:
docA = "The cat sat on my bed"
docB = "The dog sat on my knees"

bowA = docA.split()
bowB = docB.split()

wordset =set(bowA).union(set(bowB))
wordset

{'The', 'bed', 'cat', 'dog', 'knees', 'my', 'on', 'sat'}

In [5]:
#统计
wordDictA = dict.fromkeys( wordset,0)
wordDictB = dict.fromkeys( wordset,0)

for word in bowA:
    wordDictA[word]+=1
for word in bowB:
    wordDictB[word]+=1

pd.DataFrame([wordDictA,wordDictB])

   The  bed  cat  dog  knees  my  on  sat
0    1    1    1    0      0   1   1    1
1    1    0    0    1      1   1   1    1

In [15]:
#计算TF
def computeTF(wordDict, bow):
    tfDict={}
    nbowCount = len(bow)
    
    for word,count in wordDict.items():
        tfDict[word] =count/nbowCount
    return tfDict

tfA = computeTF(wordDictA,bowA)
tfB = computeTF(wordDictB,bowB)

{'The': 0.16666666666666666,
 'bed': 0.0,
 'cat': 0.0,
 'dog': 0.16666666666666666,
 'knees': 0.16666666666666666,
 'my': 0.16666666666666666,
 'on': 0.16666666666666666,
 'sat': 0.16666666666666666}

In [12]:
#计算IDF
def computeIDF(wordDictList):
    idfDict =dict.fromkeys(wordDictList[0],0)
    N = len(wordDictList)
    import math
    for wordDict in wordDictList:
        for word,count in wordDict.items():
            if count>0:
                idfDict[word]+=1
    for word,ni in idfDict.items():
        idfDict[word] = math.log10((N+1)/(ni+1))
    return idfDict
idf = computeIDF([wordDictA,wordDictB])
idf

{'The': 0.0,
 'bed': 0.17609125905568124,
 'cat': 0.17609125905568124,
 'dog': 0.17609125905568124,
 'knees': 0.17609125905568124,
 'my': 0.0,
 'on': 0.0,
 'sat': 0.0}

In [16]:
def computeTFIDF(tf,idf):
    tfidf={}
    for word,tfval in tf.items():
        tfidf[word] = tfval * idf[word]
    return tfidf

tfidfA = computeTFIDF(tfA,idf)
tfidfB = computeTFIDF(tfB,idf)

pd.DataFrame([tfidfA,tfidfB])

   The       bed       cat       dog     knees   my   on  sat
0  0.0  0.029349  0.029349  0.000000  0.000000  0.0  0.0  0.0
1  0.0  0.000000  0.000000  0.029349  0.029349  0.0  0.0  0.0